In [149]:
import requests 
from bs4 import BeautifulSoup
import os

Scraping the table from website using BeautifulSoup and creating a csv file.

In [150]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(url,'lxml')
my_table = soup.find('table',{'class':'wikitable sortable'})
rows = my_table.findAll('tr')
table_content = ""
for table_rows in my_table.findAll("tr"):
    data = ""
    for table_data in my_table.findAll("td"):
        data = data + "," + table_data.text
    if len(data)!=0:
        table_content = table_content  + data[0:]

header = "Postalcode,Borough,Neighbourhood" + "\n"
file = open(os.path.expanduser("table.csv"),"wb")
file.write(bytes(header, encoding = "ascii", errors = "ignore"))
file.write(bytes(table_content, encoding = "ascii", errors = "ignore"))

2627980

In [151]:
import pandas as pd
import numpy as np

Importing table.csv file into pandas dataframe

In [152]:
toronto_df = pd.read_csv('table.csv')

In [153]:
toronto_df = toronto_df[toronto_df.Borough != 'NaN']

Add numeric index.

In [154]:
toronto_df.index = pd.RangeIndex(len(toronto_df.index))
toronto_df.head()

  Postalcode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Remove the rows with Borough == Not assigned

In [155]:
toronto_df["Borough"] = toronto_df["Borough"].replace(["Not assigned"], np.nan)

In [156]:
toronto_df = toronto_df.dropna(subset = ["Borough"])

Required Dataframe.

In [157]:
def tmp(group_series):
    if (group_series==group_series.iloc[0]).all():
        return group_series.iloc[0]
    else:
        return group_series.sum()
toronto_df = toronto_df.groupby('Postalcode').agg(tmp)

In [158]:
toronto_df.head()

                Borough                                      Neighbourhood
Postalcode
M1B         Scarborough  RougeMalvernRougeMalvernRougeMalvernRougeMalve...
M1C         Scarborough  Highland CreekRouge HillPort UnionHighland Cre...
M1E         Scarborough  GuildwoodMorningsideWest HillGuildwoodMornings...
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae